
<%for detail in @link_details%>

<div style="background-color:  #BDB76B ; border-color: green; border-radius: 3px;"><b><a id = 'det_links', href= "javascript:checkDetail('<%=detail.url_path %>');"><font color="White" size="3"><%=detail.detail_name%></font></a></b><hr /></div>



<%end%>
