
<%for detail in @link_details%>

<div style="background-color:  #23b2a1 ; border-color: green; border-radius: 3px;"><font color="White" size="3"><b><a id = 'det_links', href= "javascript:checkDetail('<%=detail.detail_name %>');"><%=detail.detail_name%></a></b><hr /></font></div>
<%end%>
<script       src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

              <script>
              

              </script>
