
<%for detail in @link_details%>

<<<<<<< HEAD
<div style="background-color:  #BDB76B ; border-color: green; border-radius: 3px;"><b><a id = 'det_links', href= "javascript:checkDetail('<%=detail.url_path %>');"><font color="White" size="3"><%=detail.detail_name%></font></a></b><hr /></div>
=======
<div style="background-color:  #23b2a1 ; border-color: green; border-radius: 3px;"><font color="White" size="3"><b><a id = 'det_links', href= "javascript:checkDetail('<%=detail.url_path %>');"><%=detail.detail_name%></a></b><hr /></font></div>
>>>>>>> d986617829496e0c9344ebd3e0f58b55ff855097
<%end%>
