<%for emp in @ceo_emp%>
 <div class="btn btn-primary">
<%=image_tag("plus-button-green.png",  size: "20x15",alt: "MyInc Logo")%><%= emp.name%>
</div>
<%@sub = emp.subordinates%>
<%if !@sub.blank?%>
<%for sub in @sub%>
<h4><%= sub.name%></h4>
<%end%>
<%end%>
<%end%>
