



<style>

	.tabs{

 /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}
table td{
    border: 1px solid white;
  }

</style>
<table align='center' class="tablecss" cellspacing=0 cellpadding=5 align=center width="100%" >
<%current_user.has_role?(:employee) ? @links = DashBoard.where("link_role=?", 'Employee').order('id ASC') : @links = DashBoard.all.order('id ASC')%>
<%for link in @links%>
<tr>
<td bgcolor="#555555">
<div class = "tabs">
    <%@detail = link.link_details%>
<b><%= link.link_name  %></b>
<div id='detail_links'>
</div>

</div>

</td><br/>
</tr>
<%end%>

</table>

<script			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

              <script>
    $('.tabs').click(function(){
        var parm = $(this).text();
 $.ajax({
        url:"/check_link_details?name="+parm,
         async: false,
        success: function(result){
if (result.stat == true){
load_links(parm);

}
else{
load_pages()

}
                            }
                               });
 });
    
function load_links(x){
var pars = x;
$.ajax({
        url:"/load_link_details?name="+pars,
         async: false,
          success: function(result){
alert(234);
            $('#detail_links').html(result);



}});

}
              </script>