<style>

	.tabs{

 /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}
table td{
    border: 1px solid white;
  }

</style>
<table align='center' class="tablecss" cellspacing=0 cellpadding=5 align=center width="100%" >
<%current_user.has_role?(:employee) ? @links = DashBoard.where("link_role=?", 'Employee').order('id ASC') : @links = DashBoard.all.order('id ASC')%>
<%for link in @links%>
<tr>
<td bgcolor="#555555">
<div class = "tabs">
<b><%=link_to "#{link.link_name}", '',{:style=>'color:#FFFFFF;'} %></b>
</div>

</td><br/>
</tr>
<%end%>

</table>

<script			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>